SOCIAL_NETWORK_SERVICE_HOST=localhost
SOCIAL_NETWORK_SERVICE_PORT=3013
SOCIAL_NETWORK_SERVICE_NATS_SERVERS=nats://localhost:4222

# Infos de connexion au connecteur fournissant les données
SOCIAL_NETWORK_SERVICE_CMS_CONNECTOR_API_URL=
SOCIAL_NETWORK_SERVICE_CMS_CONNECTOR_API_BEARER_TOKEN=

# CACHE
# Durée de vie d'un élément caché en millisecondes (Attention ! 0 = durée illimitée)
SOCIAL_NETWORK_SERVICE_CACHE_TTL_MS=300
# Nombre max d'éléments cachés
SOCIAL_NETWORK_SERVICE_CACHE_MAX=200
