{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "^#", "^[.]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
