MAP_SERVICE_HOST=localhost
MAP_SERVICE_PORT=3005
MAP_SERVICE_NATS_SERVERS=nats://localhost:4222

# Infos de connexion au connecteur fournissant les données
MAP_SERVICE_CMS_CONNECTOR_API_URL=
MAP_SERVICE_CMS_CONNECTOR_API_BEARER_TOKEN=

# Provider additionel
MAP_SERVICE_ADDITIONAL_PROVIDER_API_URL=http://localhost:3099/mocking/map
MAP_SERVICE_ADDITIONAL_PROVIDER_API_BEARER_TOKEN=
