{
  "storeVersion": "1.1.0",
  "minVersionRequired": "1.0.0",
  "playStoreUrl": "https://play.google.com/store/apps/details?id=org.monUniversite.monApplication",
  "appStoreUrl": "https://apps.apple.com/fr/app/monUniversite/idxxxxxxxxx"
}
