/*!
 * Copyright ou © ou Copr. Université de Lorraine, (2022)
 *
 * Direction du Numérique de l'Université de Lorraine - SIED
 *  (dn-mobile-dev@univ-lorraine.fr)
 * JNESIS (contact@jnesis.com)
 *
 * Ce logiciel est un programme informatique servant à rendre accessible
 * sur mobile divers services universitaires aux étudiants et aux personnels
 * de l'université.
 *
 * Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 * et respectant les principes de diffusion des logiciels libres. Vous pouvez
 * utiliser, modifier et/ou redistribuer ce programme sous les conditions
 * de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 * sur le site "http://cecill.info".
 *
 * En contrepartie de l'accessibilité au code source et des droits de copie,
 * de modification et de redistribution accordés par cette licence, il n'est
 * offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 * seule une responsabilité restreinte pèse sur l'auteur du programme, le
 * titulaire des droits patrimoniaux et les concédants successifs.
 *
 * À cet égard, l'attention de l'utilisateur est attirée sur les risques
 * associés au chargement, à l'utilisation, à la modification et/ou au
 * développement et à la reproduction du logiciel par l'utilisateur étant
 * donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 * manipuler et qui le réserve donc à des développeurs et des professionnels
 * avertis possédant des connaissances informatiques approfondies. Les
 * utilisateurs sont donc invités à charger et à tester l'adéquation du
 * logiciel à leurs besoins dans des conditions permettant d'assurer la
 * sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 * à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 * Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 * pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 * termes.
 */

.shepherd-element {
  background: var(--app-color-background) !important;
  border-radius: 0 !important;
  border: var(--app-border-width-7) solid var(--ion-color-medium)  !important;
  width: 80% !important;
}

.shepherd-text {
  color: var(--app-font-color-primary-medium) !important;
  font-family: var(--app-font-secondary) !important;
  font-size: var(--app-text-2-size) !important;
  font-weight: 500 !important;
}

.shepherd-button-primary {
  background: var(--ion-color-primary) !important;
}

.shepherd-button-secondary {
  background: none  !important;
  color: var(--app-font-color-primary-medium) !important;
  text-decoration: underline;
}

.shepherd-footer {
  border-radius: unset !important;
  border-bottom:  var(--app-border-width-5) solid var(--ion-color-secondary);
}

.dark {
  .shepherd-element {
    border: var(--app-border-width-7) solid var(--ion-color-primary-contrast)  !important;
  }

  .shepherd-button-primary {
    background: var(--ion-color-primary-contrast) !important;
    color: var(--ion-color-primary)  !important; ;
  }

  .shepherd-cancel-icon {
    color: var(--ion-color-primary-contrast) !important;
  }

  .shepherd-modal-overlay-container {
    &.shepherd-modal-is-visible {
      opacity: .7 !important;
    }
  }
}

.shepherd-arrow {
  width: 25px !important;
  height: 25px !important;

  &:before {
    background: none !important;
    content: url("../../../assets/icon/chevron-outline.svg") !important;
    width: 25px !important;
    height: 25px !important;
  }
}


.shepherd-element[data-popper-placement^=top] {
  margin-bottom: 1rem !important;

  &>.shepherd-arrow {
    position: relative;
    bottom: -1.4rem !important;
  }

  &>.shepherd-arrow:before {
    transform: rotate(0deg) !important;
  }

}

.shepherd-element[data-popper-placement^=bottom] {
  margin-top: 1rem !important;

  &>.shepherd-arrow {
    top: -1.4rem !important;
  }

  &>.shepherd-arrow:before {
    transform: rotate(180deg) !important;
  }
}

.shepherd-image {
  padding: 1rem 0;
}
