/*!
 * Copyright ou © ou Copr. Université de Lorraine, (2022)
 *
 * Direction du Numérique de l'Université de Lorraine - SIED
 *  (dn-mobile-dev@univ-lorraine.fr)
 * JNESIS (contact@jnesis.com)
 *
 * Ce logiciel est un programme informatique servant à rendre accessible
 * sur mobile divers services universitaires aux étudiants et aux personnels
 * de l'université.
 *
 * Ce logiciel est régi par la licence CeCILL 2.1, soumise au droit français
 * et respectant les principes de diffusion des logiciels libres. Vous pouvez
 * utiliser, modifier et/ou redistribuer ce programme sous les conditions
 * de la licence CeCILL telle que diffusée par le CEA, le CNRS et INRIA
 * sur le site "http://cecill.info".
 *
 * En contrepartie de l'accessibilité au code source et des droits de copie,
 * de modification et de redistribution accordés par cette licence, il n'est
 * offert aux utilisateurs qu'une garantie limitée. Pour les mêmes raisons,
 * seule une responsabilité restreinte pèse sur l'auteur du programme, le
 * titulaire des droits patrimoniaux et les concédants successifs.
 *
 * À cet égard, l'attention de l'utilisateur est attirée sur les risques
 * associés au chargement, à l'utilisation, à la modification et/ou au
 * développement et à la reproduction du logiciel par l'utilisateur étant
 * donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 * manipuler et qui le réserve donc à des développeurs et des professionnels
 * avertis possédant des connaissances informatiques approfondies. Les
 * utilisateurs sont donc invités à charger et à tester l'adéquation du
 * logiciel à leurs besoins dans des conditions permettant d'assurer la
 * sécurité de leurs systèmes et/ou de leurs données et, plus généralement,
 * à l'utiliser et à l'exploiter dans les mêmes conditions de sécurité.
 *
 * Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 * pris connaissance de la licence CeCILL 2.1, et que vous en avez accepté les
 * termes.
 */

ion-card {
  overflow: visible;
  box-shadow: var(--app-border-no-box-shadow);
  border-radius: var(--app-border-no-radius);
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background: transparent;
}

.last-card {
  padding-bottom: 0.8rem !important;
}

.events-container {
padding-left: 1rem !important;
padding-bottom: 0rem !important;
}

.dashed-line{
  position: absolute;
  top: 0.77rem;
  left: 0rem;
  width: 2rem;
  height: 100%;

  background-image: linear-gradient(rgb(255, 255, 255) 43%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 0.13rem 0.9rem;
  background-repeat: repeat-y;
  overflow: visible;
  z-index: 10 !important;
}

.event-day {
  position: relative;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  padding-left: 0rem !important;
  background-color: var(--ion-color-quaternary) !important;
  z-index: 12;
}

ion-card-header {
  padding-top: 0px;
  padding-left: 1.2rem;
  padding-bottom: 0px;
}

ion-card-content {
  padding-left: 2.3rem;
}

.circle-top-left {
  position: absolute;
  top: 0.30rem;
  left: -0.18rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--ion-color-dark-contrast);
  border-radius: 50%;
}

.card-labels {
  margin-right: 0.6rem;
}

.card-labels-icons {
  margin-right: 0.3rem;
}

.light-font-color{
  color: var(--app-font-color-for-dark-background-from-cms) !important;
}

.dark-font-color{
  color: var(--app-font-color-for-light-background-from-cms) !important;
}
