KNOWLEDGE_BASE_SERVICE_HOST=localhost
KNOWLEDGE_BASE_SERVICE_PORT=3021
KNOWLEDGE_BASE_SERVICE_NATS_SERVERS=nats://localhost:4222

# Infos de connexion au connecteur fournissant les données
KNOWLEDGE_BASE_SERVICE_CMS_CONNECTOR_API_URL=
KNOWLEDGE_BASE_SERVICE_CMS_CONNECTOR_API_BEARER_TOKEN=

# CACHE
# Infos de connexion à la base Redis pour la mutualisation des données de cache
KNOWLEDGE_BASE_SERVICE_CACHE_REDIS_HOST=localhost
KNOWLEDGE_BASE_SERVICE_CACHE_REDIS_PORT=6379
KNOWLEDGE_BASE_SERVICE_CACHE_REDIS_PASSWORD=
# Durée de vie d'un élément caché en millisecondes (Attention ! 0 = durée illimitée)
KNOWLEDGE_BASE_SERVICE_CACHE_TTL_MS=300
# Nombre max d'éléments cachés
KNOWLEDGE_BASE_SERVICE_CACHE_MAX=200
