# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.angular
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

#firebase
/src/environments/firebase/web/*
/src/environments/firebase/ios/*
/src/environments/firebase/android/*
!/src/environments/firebase/web/firebase-environment.pwa.json.dist

# Theme
/src/theme/*
!/src/theme/theme.scss.dist
!/src/theme/default

# Angular
angular.json
/src/environments/*
!/src/environments/environment.ts.dist

# Ionic
capacitor.config*
!capacitor.config.ts.dist
ios/
android/

# Trapeze
trapeze*
!trapeze-config.yml.dist

