{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "@multi/", "^#", "^[.]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
