{
  "apiKey": "",
  "authDomain": "universite-lorraine.firebaseapp.com",
  "projectId": "universite-lorraine",
  "storageBucket": "universite-lorraine.appspot.com",
  "messagingSenderId": "371702593059",
  "appId": "1:371702593059:web:80c2510617c98f60b5a396",
  "measurementId": "G-M2Y9VV4WCC",
  "vapidKey": "BFEg2iCFRcHC9p4knhrssBgLx0rDzfTZwBn_lPM3KyqRVtDhMJQ27PX4Bm7gOI7bzidkJk7g0QojDPHwZVZgju4"
}
