name: Check library list
permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    types: [ opened, synchronize ]

jobs:
  check-library-list:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Check if any package.json was modified
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            packageJson:
              - '**/package.json'

      - name: Set up Node.js
        if: steps.changes.outputs.packageJson == 'true'
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install libs
        if: steps.changes.outputs.packageJson == 'true'
        run: npm run ci

      - name: Run the dependency update script
        if: steps.changes.outputs.packageJson == 'true'
        run: |
          chmod +x generateLibraryList.bash
          ./generateLibraryList.bash

      - name: Check for changes
        id: diff
        if: steps.changes.outputs.packageJson == 'true'
        run: |
          git config core.fileMode false
          echo "CHANGES=$(git diff-index --quiet HEAD -- ; echo $?)" >> $GITHUB_OUTPUT

      - name: Add changes to Git
        if: steps.diff.outputs.CHANGES == 1 && github.event.pull_request.head.repo.full_name == github.repository
        run: |
          git add -A

      - name: Commit changes
        if: steps.diff.outputs.CHANGES == 1 && github.event.pull_request.head.repo.full_name == github.repository
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git commit -m "docs: update library list" || echo "No changes to commit"

      - name: Push changes
        if: steps.diff.outputs.CHANGES == 1 && github.event.pull_request.head.repo.full_name == github.repository
        run: git push origin HEAD:${{ github.head_ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Fork detected
        if: steps.diff.outputs.CHANGES == 1 && github.event.pull_request.head.repo.full_name != github.repository
        run: |
          echo "La liste des dépendances doit être mise à jour."
          echo "A cause d'une limitation de GitHub Actions, il est impossible de mettre à jour la liste des dépendances depuis un fork."
          echo "Merci d'exécuter le script 'generateLibraryList.bash' de votre côté."
          exit 1
